<h1>Gerenciador de conteúdo</h1>

<a href="../../?pagina=admin&metodo=create">Criar Publicação</a><br>
<hr>
<br><table border="2">
    <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>ALTERAÇÃO</th>
        <th>DELEÇÂO</th>
    </tr>

    {% for postagem in postagens %}
    <tr>
        <th>{{postagem.id}}</th>
        <th>{{postagem.titulo}}</th>
        <th><a href="../../?pagina=admin&metodo=change&id={{postagem.id}}">ALTERAÇÃO</a></th>
        <th><a href="../../?pagina=admin&metodo=delete&id={{postagem.id}}">DELEÇÂO</a></th>
    </tr>
    {% endfor %}
</table>